.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first country--ethiopia {
  align-self: self-end;
}

.countries--second {
  align-items: center;
}

.countries--second,
country--ethiopia {
  align-self: end;
}
