.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries--second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries--third {
  flex-direction: row;
  align-items: center;
}

.countries--fourth {
  flex-direction: row;
  align-items: center;
}
