.countries {
  display: flex;
}
/* Add your own CSS code below */

.countries--second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}
