.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  justify-content: end;
  align-items: end;
}
.countries--second {
  justify-content: center;
  align-items: end;
  flex-direction: row-reverse;
}
.countries--third {
  justify-content: center;
  align-items: start;
}
.countries--third .country--brazil {
  align-self: self-end;
}
.countries--fourth {
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.countries--fourth .country--ethiopia {
  align-self: center;
}
.countries--fourth .country--laos {
  align-self: center;
}
.countries--fifth {
  flex-direction: column-reverse;
  justify-content: center;
  justify-content: space-between;
  align-items: end;
}
.countries--fifth .country--laos {
  order: 6;
}
.countries--fifth .country--uganda {
  align-self: center;
}
