/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.message__time {
  font-size: 0.9rem;
}
.message message--unread {
  border: 5px solid blue;
}
.message__time message__time--old {
  opacity: 0.5;
}
.message__content {
  line-height: 1px;
}
