/* Write your media queries and flexbox CSS below */

.site-header__nav {
  display: block;
}

.site-header__navItem {
  display: block;
}

@media screen and (min-width: 480px) {
  .site-header__nav {
    display: flex;
  }

  .site-header__navItem {
    display: inline-block;
    margin-right: 20px;
  }
}

@media screen and (min-width: 700px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__logo {
    flex: 1;
  }

  .site-header__nav {
    flex: 2;
    display: flex;
    justify-content: center;
  }

  .site-header__checkout {
    flex: 0;
  }
}

@media screen and (min-width: 992px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__logo {
    flex: 1;
  }

  .site-header__nav {
    flex: 2;
    display: flex;
    justify-content: center;
  }

  .site-header__checkout {
    margin-left: auto;
  }
}
