/* Write your media queries and flexbox CSS below */
.site-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.site-header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.site-header__navItem {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.site-header__checkout {
  justify-items: flex-end;
  margin: 20px;
  padding: 10px;
}

@media (min-width: 700px) {
  .site-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .site-header {
    justify-content: space-between;
  }
  .site-header__nav {
    flex: 1;
    justify-content: center;
  }

  .site-header__checkout {
    margin: 0;
  }
}
