.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  display: flex;
}

.country--brazil {
  order: 5;
}

.country--croatia {
  order: 1;
}

.country--ethiopia {
  order: 3;
}

.country--laos {
  order: 2;
}

.country--uganda {
  order: 4;
}

.countries--second {
  display: flex;
}

.country--brazil {
  order: 4;
}

.country--croatia {
  order: 1;
}

.country--ethiopia {
  order: 2;
}

.country--laos {
  order: 3;
}

.country--uganda {
  order: 5;
}

.countries--third {
  display: flex;
}

.country--brazil {
  order: 5;
}

.country--croatia {
  order: 4;
}

.country--ethiopia {
  order: 3;
}

.country--laos {
  order: 2;
}

.country--uganda {
  order: 1;
}
