.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
